@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #fff;
    --color-main: #2c2d30;
    --color-main-fade: #2c2d3000;
    --color-secondary: #171717;
    --color-secondary-fade: #17171700;
    --color-button-hover: #242629;
    --color-button-hover-fade: #24262900;
    --color-user-icon: #8e0000;
    --color-groupings: #9ca6b5;
    --color-gpt-icon: #000000;
    --color-black: #1e1e1f;
    --color-user-menu-hover: #383b42;
    --color-text: #f5f9ff;
    --color-gpt3: #5fc319;
    --color-gpt4: #f22626;
    --color-secondary-p: #c9ccd1;
    --color-logo: #848484;
    --color-model-name: #ffffff;
    --color-assistant-bg: #3f4042;
    --color-assistant-text: #e1e6ed;
    --color-disclaimer: #d0d2e1;
    --color-border1: #484a4e;
    --color-user-menu-border: #34373a;
    --color-user-menu-selected-border: #4a5562;
    --color-border2: #292d32;
    --color-user-message-border: #2f353d;
    --color-files-upload : #ffbb00;
    --color-Upload-text : #666;
}

body {
    background: var(--color-main);
    display: flex;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
}

#sidebar {
    position: relative;
    left: 0;
    background: var(--color-secondary);
    width: 260px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}

.float-top {
    display: flex;
    flex-direction: column;
    height: calc( 100% - 50px );
}

#sidebar.hidden {
    left: -260px;
    margin-right: -260px;
}

#sidebar.hidden .hide-sidebar {
    left: 60px;
    transform: rotate(180deg);
    padding: 15px 13px 11px 13px;
}

button {
    display: block;
    background: inherit;
    border: 1px solid var(--color-border1);
    border-radius: 5px;
    color: var(--color-white);
    padding: 13px;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
}

button:hover {
    background: var(--color-button-hover);
}

.sidebar-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.sidebar-controls button {
    padding: 12px 13px 12px 13px;
}

.hide-sidebar {
    position: relative;
    left: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg);
}

.new-chat i {
    margin-right: 13px;
}

.new-chat {
    flex: 1;
}

.conversations {
    width: calc( 100% + 8px );
    overflow-y: scroll;
}

.conversations,
.conversations li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.conversations li {
    position: relative;
}

.conversations li .fa {
    margin-right: 7px;
}

.conversations li > button {
    width: 100%;
    border: none;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
}

.conversations li.active > button {
    background: var(--color-main);
}

.edit-buttons {
    display: none;
    position: absolute;
    right: 8px;
    top: 0;
}

.conversations li:hover .edit-buttons {
    display: flex;
}

.fade {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--color-user-icon);
    width: 40px;
    height: 100%;
    border-radius: 5px;
    background: transparent;
    background: linear-gradient(90deg, var(--color-secondary-fade) 0%, var(--color-secondary) 50%);
}

.conversations li.active .fade {
    background: linear-gradient(90deg, var(--color-main-fade) 0%, var(--color-main) 50%);
}

.conversations li:hover .fade {
    width: 80px;
    background: linear-gradient(90deg, var(--color-button-hover-fade) 0%, var(--color-button-hover) 30%);
}

.edit-buttons button {
    border: none;
    padding: 0;
    margin: 13px 1px 13px 1px;
    opacity: 0.7;
}

.edit-buttons button:hover {
    background: none;
    opacity: 1;
}

.conversations li.grouping {
    color: var(--color-groupings);
    font-size: 0.7em;
    font-weight: bold;
    padding-left: 13px;
    margin-top: 12px;
    margin-bottom: 12px;
}

i.user-icon {
    padding: 6px;
    color: var(--color-white);
    background: var(--color-user-icon);
    display: inline-block;
    text-align: center;
    width: 15px;
    border-radius: 3px;
    margin-right: 6px;
    font-style: normal;
    width: 18px;
    height: 18px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: system-ui, sans-serif;
}

.gpt.user-icon  {
    background: var(--color-gpt-icon);
}

.user-menu {
    position: relative;
    border-top: 1px solid var(--color-border1);
}

.user-menu button {
    width: 100%;
    border: none;
}

.user-menu .dots {
    position: relative;
    top: 11px;
    float: right;
    opacity: 0.7;
}

.user-menu > ul,
.user-menu li {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-menu button i {
    margin-right: 8px;
    width : 20px;
    text-align: center;
}

.user-menu > ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-100%);
    background: var(--color-black);
    border-radius: 10px;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.user-menu > ul.show-animate {
    display: block;
}

.user-menu > ul.show {
    opacity: 1;
    margin-top: -8px;
}

.user-menu li button {
    border-radius: 0;
}

.user-menu li button:hover {
    background: var(--color-user-menu-hover);
}

.user-menu li:first-child button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-menu li:last-child button {
    border-top: 1px solid var(--color-user-menu-border);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
    background-color: var(--color-text)c3;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-text);
    border-radius: 5px;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 0 0 30px 0;
    box-sizing: border-box;
}

main .view {
    display: flex;
    flex-direction: column;
}

.model-selector {
    position: relative;
    border-radius: 11px;
    background: var(--color-secondary);
    display: flex;
    padding: 4px;
    gap: 4px;
    margin: 24px auto;
    z-index: 2;
}

.model-selector > button {
    border-radius: 9px;
    text-align: center;
    width: 150px;
    border: none;
    font-weight: bold;
    opacity: 0.5;
}

.model-selector > button:hover {
    background: none;
    opacity: 1;
}

.model-selector > button.selected {
    border: 1px solid var(--color-user-menu-selected-border);
    background: var(--color-user-menu-hover);
    opacity: 1;
}

.model-selector button .fa {
    margin-right: 5px;
}

.Gemini,.gpt-4,.llama {
    display: flex;
}

.gemini-model-icon,.openai-model-icon,.meta-model-icon {
    width : 18px;
    height : 18px;
    margin-right: 8px;
    position: relative;
    top : -2px;
}

.model-info {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 0;
    transform: translateY(100%);
    padding: 15px;
    cursor: default;
}

.model-info-box {
    padding: 20px 20px 10px 20px;
    border-radius: 15px;
    background: var(--color-secondary);
    color: var(--color-white);
    text-align: left;
}

.model-selector > button:hover .model-info {
    display: block;
}

.model-selector p {
    font-size: 1.1em;
    margin: 0 0 15px 0;
}

p.secondary {
    font-size: 1em;
    color: var(--color-secondary-p);
}

.logo {
    position: relative;
    z-index: 1;
    color: var(--color-logo);
    font-weight: bold;
    text-align: center;
    font-size: 2.3em;
}

.view.conversation-view {
    display: none;
    overflow-y: auto;
}

.model-name {
    background: var(--color-main);
    text-align: center;
    color: var(--color-model-name);
    padding: 23px;
    border-bottom: 1px solid var(--color-border2);
    font-size: 0.85em;
}

.message {
    display: flex;
    gap: 20px;
    padding: 25px 60px 15px 60px;
    border-bottom: 1px solid var(--color-border2);
    font-size: 0.95em;
}

.message .content {
    padding-top: 5px;
}

.user.message {
    color: var(--color-text);
}

.assistant.message {
    background: var(--color-assistant-bg);
    color: var(--color-assistant-text);
}

#message-form {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 850px;
    text-align: center;
    padding: 0px 45px 0 45px;
    box-shadow: var(--color-main) 0 0 50px;
}

.message-wrapper {
    position: relative;
}

#message::placeholder {
    color: var(--color-groupings);
}

#message {
    background: var(--color-user-menu-hover);
    border-radius: 13px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--color-user-message-border);
    resize: none;
    padding: 17px 85px 17px 15px;
    font-family: inherit;
    font-size: 1em;
    color: var(--color-white);
    box-shadow: rgba(0,0,0,0.2) 0 0 45px;
    outline: none;
}

.disclaimer {
    margin-top: 12px;
    color: var(--color-disclaimer);
    font-size: 0.7em;
}

.send-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-gpt3);
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    padding: 7px 9px 7px 7px;
    color: var(--color-white);
    border: none;
    margin-top: -2px;
}

button.send-button:hover {
    border: none;
    background: var(--color-gpt3);
    color: var(--color-white);
}

p {
    margin: 0 0 1.5em 0;
}

/***************File Drag & drop*******************/

#file-upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.upload-area .drag-drop-container {
    border: 2px dashed var(--color-files-upload);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-area .drag-drop-container:hover {
    background-color: var(--color-model-name);
}

.upload-area .drag-drop-container .upload-icon {
    font-size: 2rem;
    color: var(--color-files-upload);
    margin-bottom: 10px;
}

.upload-area .drag-drop-container.drag-over {
    background-color: var(--color-white);
}

.upload-area h3, .upload-area p {
    margin: 0;
    color: var(--color-Upload-text);
}

.upload-area p {
    font-size: 0.9rem;
    color: var(--color-Upload-text);
}

/****************Loader***********************/

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px); 
}

#loader p{
    color : var(--color-white);
}

.spinner {
    border: 4px solid var(--color-white);
    border-top: 4px solid var(--color-files-upload);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*******************File UPload Model*********************/

#file-validation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background: var(--color-main);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards;
}

#file-validation-modal .modal-content {
    text-align: center;
}

#file-validation-modal h2 {
    color: var(--color-white);
    font-size: 1.5em;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

#file-validation-modal .file-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid var(--color-disclaimer);
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0;
}

#file-validation-modal .file-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin: 5px 0;
    background-color: var(--color-text);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--color-black);
    font-size: 0.9em;
}

#file-validation-modal .modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#file-validation-modal .modal-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

#file-validation-modal .modal-actions #process-btn {
    background-color: #28a745;
    color: var(--color-white);
}

#file-validation-modal .modal-actions #process-btn:hover {
    background-color: #218838;
}

#file-validation-modal .modal-actions #cancel-btn {
    background-color: #dc3545;
    color: var(--color-white);
}

#file-validation-modal .modal-actions #cancel-btn:hover {
    background-color: #c82333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

body.modal-open {
    overflow: hidden;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    pointer-events: none;
}

/**************** Model ***********************/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.settings-content {
    background-color: white;
    margin: 5% auto;
    padding: 0;
    border-radius: 8px;
    width: 60%;
    height : 50%;
    max-width: 700px;
    overflow: hidden;
}

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.settings-header h1 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.settings-body {
    display: flex;
    flex : 1;
    height: 100%;
}

.settings-side {
    flex: 1;
    background-color: #f8f9fa;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
}

.settings-side ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-item {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.settings-item.active {
    background-color: #e0e0e0;
    font-weight: bold;
}

.settings-item:hover {
    background-color: #f0f0f0;
}

.settings-item i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.settings-main-content {
    flex: 3;
    padding: 20px;
    font-size: 14px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

label {
    flex: 1;
    font-size: 16px;
}

input, select, button.danger, button.delete-acc {
    flex: 2;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
    outline: none;
}

select {
    background-color: #f8f9fa;
    cursor: pointer;
}

button.danger, button.delete-acc {
    background-color: #dc3545;
}

button.danger:hover, button.delete-acc:hover {
    background-color: #a71d2a;
}


@media (max-width: 870px) {
    .settings-content {
        width: 90%;
        height: 60%;
        margin: 10% auto;
    }

    .settings-header h1 {
        font-size: 18px;
    }

    .settings-body {
        flex-direction: column;
    }

    .settings-side {
        width: 100%;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .settings-main-content {
        width: 100%;
        padding: 15px;
    }

    .row {
        display: grid; 
        grid-template-columns: 1fr 2fr;
        align-items: center;
        margin-bottom: 15px;
        gap: 10px;
    }

    label {
        font-size: 14px;
        text-align: left; 
    }

    input, select, button.danger, button.delete-acc {
        width: 90%;
        font-size: 14px;
        padding: 10px;
    }

    .close-btn {
        font-size: 20px;
    }
}

@media (max-width: 570px) {
    .settings-content {
        width: 95%;
        height: auto;
        margin: 15% auto;
    }

    .settings-header {
        padding: 15px;
    }

    .settings-side ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .row {
        grid-template-columns: 1fr 1.5fr;
        margin-bottom: 10px;
    }


    input, select, button.danger, button.delete-acc {
        padding: 8px;
    }

}


/************* Confirmation model ******************/

.confirm-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    backdrop-filter: blur(5px);

}

.confirm-modal-content {
    text-align: center;
}

.confirm-modal-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.confirm-modal-footer .btn {
    padding: 10px 20px;
    cursor: pointer;
}

.confirm-modal-footer .cancel-delete, 
.confirm-modal-footer .confirm-delete  {
    background-color: var(--color-white);
    color: var(--color-black);
}

.confirm-modal-footer .confirm-delete:hover {
    background-color: var(--color-gpt4);
}

/*****************Toastify ***********************/

.toastify .toast-close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
