<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Canceled - Hivaani</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cancel/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="cancel-container">
        <img src="https://cdn-icons-png.flaticon.com/512/753/753345.png" alt="Cancel Icon" />
        <h1>Payment Canceled</h1>
        <p>We noticed your transaction was canceled. Please try again or contact support for assistance.</p>
        <a href="/home">Return to Dashboard</a>
    </div>

    <div class="shattered-container"></div>

    <script src="{{ url_for('static', filename='js/cancel/cancel.js') }}"></script>
</body>
</html>
