<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_chat/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>Hivaani</title>
</head>
<body>
    <nav id="sidebar">
        <div class="float-top">
            <div class="sidebar-controls">
                <button class="new-chat"><i class="fa fa-plus"></i> New chat</button>
                <button class="hide-sidebar"><i class="fa fa-chevron-left"></i></button>
            </div>
            <ul class="conversations">
                 <!--Conversation items will be dynamically inserted here by JavaScript -->
            </ul>
        </div>
        <div class="user-menu" id="userMenu" data-username="{{ username }}">
            <button>
                <i class="user-icon">{{ username[0].upper() }}</i>
                {{username}}
                <i class="fa fa-ellipsis dots"></i>
            </button>
            <ul>
                <li><button id="settings-btn"><i class="fas fa-cogs"></i> Settings</button></li>
                <li><button onclick="location.href='{{ url_for('logout') }}'"><i class="fas fa-sign-out-alt"></i> Log out</button></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="view new-chat-view">
            <div class="model-selector">
                <button class="Gemini selected">
                    <img src="{{ url_for('static', filename='images/gemini.svg') }}" alt="Gemini Icon" class="gemini-model-icon"> 
                    Gemini 1.5 Pro
                    <div class="model-info">
                        <div class="model-info-box">
                            <p>Our fastest model, great for most every day tasks.</p>

                            <p class="secondary">Available to Free and Plus users</p>
                        </div>
                    </div>
                </button>
                <!-- <button class="gpt-4">
                    <img src="{{ url_for('static', filename='images/openai.svg') }}" alt="openai Icon" class="openai-model-icon"> 
                    GPT-4o
                    <div class="model-info">
                        <div class="model-info-box">
                            <p>Our most capable model, great for creative stuff.</p>

                            <p class="secondary">Available for Plus users.</p>
                        </div>
                    </div>
                </button>
                <button class="llama">
                    <img src="{{ url_for('static', filename='images/meta.svg') }}" alt="meta Icon" class="meta-model-icon"> 
                    llama 3.1 405B
                    <div class="model-info">
                        <div class="model-info-box">
                            <p>Our most capable model, great for creative stuff.</p>

                            <p class="secondary">Available for Plus users.</p>
                        </div>
                    </div>
                </button>-->
            </div>

            <div class="logo">
                Hivaani
            </div>
        </div>

        <div class="view conversation-view">
            <div class="model-name">
                <i class="fa fa-bolt"></i> Default (Gemini-1.5-pro)
            </div>
            <!----Message update dynamically-->
        </div>

        <!-- Message form section -->
        <div id="message-form">
            <div class="message-wrapper">
                <textarea id="message" rows="1" placeholder="Send a message"></textarea>
                <button class="send-button"><i class="fa fa-paper-plane"></i></button>
            </div>
            <div class="disclaimer">&copy; 2024 All rights reserved | Hivaani</div>
        </div>
    </main>

    <!-- ------Loader-------------
    <div id="loader" style="display: none;">
        <div class="spinner"></div>
        <p>Processing...</p>
    </div> -->

    <!----------Customize Model------------>

    <div id="settings-modal" class="modal">
        <div class="settings-content">
            <div class="settings-header">
                <h1>Settings</h1>
                <span class="close-btn">&times;</span>
            </div>
            <div class="settings-body">
                <div class="settings-side">
                    <ul>
                        <li class="settings-item active">
                            <i class="fas fa-cog"></i> General
                        </li>
                    </ul>
                </div>
                <div class="settings-main-content">
                    <div class="content-section active">
                        <div class="row">
                            <label>Plan</label>
                            <select id="plan-dropdown">
                                <option>Free</option>
                                <option>Plus</option>
                            </select>
                        </div>
                        <div class="row">
                            <label>Language</label>
                            <select id="lang">
                                <option>Auto-detect</option>
                                <option>English</option>
                            </select>
                        </div>
                        <div class="row">
                            <label>Delete all chats</label>
                            <button class="danger" id="delete-chats-button">Delete Chats</button>
                        </div>
                        <div class="row">
                            <label>Delete Account</label>
                            <button class="delete-acc">Delete Account</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        

     <!----- confirmation Model------------>

     <div id="confirmation-modal" class="confirm-modal" style="display:none;">
        <div class="confirm-modal-content">
            <h4>Are you sure you want to delete all chats?</h4>
            <p>This action cannot be undone.</p>
        </div>
        <div class="confirm-modal-footer">
            <button id="cancel-delete" class="btn cancel-delete">Cancel</button>
            <button id="confirm-delete" class="btn confirm-delete">Proceed</button>
        </div>
    </div>

    <!-- ------Hidden------------->
    <div id="session-titles" 
         data-titles="{{ session_titles }}" 
        data-messages="{{ messages }}">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.min.js"></script>
    <script src="{{ url_for('static', filename='js/home_chat/home_chat.js') }}"></script>
</body>
</html>